
<p>Angular Seed is a starter project that implements best practices in coding, building and testing Angular apps.</p>
<p>This project is based on the <a href="https://github.com/angular/angular-seed">Angular-CLI template</a> and inspired by <a href="https://github.com/mgechev/angular-seed">Angular 2 Seed</a> (a project by <a href="https://github.com/mgechev">Minko Gechev</a>).</p>

<h3>Features</h3>
<ul>
  <li>Ready to go, statically typed build system with TypeScript</li>
  <li>Production and development builds</li>
  <li>Sample unit and end-to-end tests</li>
  <li>Development server with live reload</li>
  <li>Example structure for a complete front-end app</li>
  <li>Angular material sample usage</li>
  <li>Versatile theming with Sass</li>
</ul>
