
<p>Howdy! Here's a list of awesome computer scientists.</p>
<p>Do you know any others? Add to the list yourself.</p>

<md-input-container>
  <input mdInput [placeholder]="namePlaceholder" name="name" [(ngModel)]="newScientist.name" (keyup)="handleTextKeyUp($event)" required>
</md-input-container>

<md-radio-group name="title" [(ngModel)]="newScientist.title" required>
  <template ngFor let-title [ngForOf]="titles" let-i="index" [ngForTrackBy]="trackByFn">
    <md-radio-button [value]="title">{{title | title}}</md-radio-button>
  </template>
</md-radio-group>

<button (click)="handleSubmit()" class="{{getButtonClass()}}">Add</button>

<h3>Scientists list:</h3>

<ul class="scientist-list">
  <li *ngFor="let scientist of scientistsList" (click)="handleListItemClick(scientist.id)">
    <div>
      <span class="{{getClassFromTitle(scientist.title)}}">{{scientist.title | title}}</span>
      <span>{{scientist.name}}</span>
    </div>
  </li>
</ul>
