@import '../../../themes/index';

@include app-home();

.scientist-list {

  .title {
    &Blue {
      color: royalblue;
    }

    &Pink {
      color: pink;
    }

    &Bold {
      font-weight: bold;
    }
  }
}
