/* You can add global styles to this file, and also import other style files */

html, body {
  margin: 0;
  border: 0 none;
  padding: 0;
}


@import '~@angular/material/core/theming/prebuilt/deeppurple-amber.css';
/*@import '~@angular/material/core/theming/prebuilt/indigo-pink.css';*/
/*@import '~@angular/material/core/theming/prebuilt/pink-bluegrey.css';*/
/*@import '~@angular/material/core/theming/prebuilt/purple-green.css';*/

// @import 'https://fonts.googleapis.com/icon?family=Material+Icons';



/*SCSS*/
/*@import '~@angular/material/core/theming/all-theme';*/
/*@import '../all-theme';


// Include non-theme styles for core.
@include mat-core();

// Define a theme.
$primary: mat-palette($mat-deep-purple);
$accent:  mat-palette($mat-amber, A200, A100, A400);

$theme: mat-light-theme($primary, $accent);

// Include all theme styles for the components.
@include angular-material-theme($theme);*/
