
@import '~@angular/material/core/theming/all-theme';

// GLOBAL DEFINITIONS
@mixin globals() {
  body {
    font-family: $mat-font-family;
    font-size: $mat-body-font-size-base;
    line-height: $mat-body-font-size-base * 1.75;
    box-sizing: border-box;
  }

  *, *:before, *:after {
    box-sizing: inherit;
  }
}

@import 'icon';
@import 'grid';
